

#notifNewVersion {
  background-color: rgba(50,50,50,0.7);
  border: 1px solid #000;
  border-radius: 5px;
  display:none;
  position: fixed;
  bottom:100px;
  left: 100px;
  color: #fff;
}
#notifNewVersion a{
  color:#f9f;
}
#notifNewVersion .show{
  display: block;
}

@keyframes blurIn {
  from {
    filter: blur(0px) brightness(1);
  }
  
  to {
    filter: blur(10px) brightness(0.6);
  }
}


/* ANIMATIONS BARBER LOADING */


@keyframes pace-theme-barber-shop-motion {
  0% { transform: none; transform: none; }
  100% { transform: translate(-128px, 0); transform: translate(-128px, 0); }
}