body {
  /*font-family: "Advent Pro";*/
  font-family: "Raleway";
  color: #fff;
  background-color: #151b33;
  /*background-color: #fab;*/
  width: 100%;
  text-align: center; }

#root {
  width: 100%; }

i {
  font-family: "initial"; }

a {
  color: #eca3a3; }
