:root {
  --bg-color1: hsl(105, 100%, 86%);
  --font-color1: rgb(28, 68, 16);
  --bg-color2: hsl(109, 13%, 25%);
  --font-color2: rgb(168, 223, 173); }

* {
  z-index: 1; }

::-webkit-scrollbar {
  width: 0px; }

body {
  font-family: "Advent Pro";
  /*font-family: "Raleway";*/
  color: var(--font-color1);
  background-color: var(--bg-color1);
  /*background-color: #fab;*/
  width: 100%;
  text-align: center;
  background: linear-gradient(145deg, #0dc293, #0d8cc2);
  /*background-size: 400% 400%;
  animation: AnimatedBG 6s ease infinite;*/ }

div {
  background: unset;
  animation: unset;
  background-color: unset; }

#root {
  width: 100%; }

i {
  font-family: "initial"; }

a {
  color: #eca3a3;
  text-decoration: none; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0.5; }

.overlayed {
  position: relative; }

#mainHeader {
  color: black;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
  #mainHeader h1 {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 2px; }
  #mainHeader h4 {
    font-size: 35px;
    font-weight: 400; }
  #mainHeader a {
    font-size: 25px;
    font-weight: 600;
    color: #121212;
    letter-spacing: 4px;
    border: 2px solid #121212;
    /*#fafafa;*/
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 7px 15px; }

.contentTest {
  padding: 20px; }

.links {
  margin: 20px 15px; }

@media (max-width: 1049px) {
  .links {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1050px) {
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    .links a {
      margin: 0 !important; } }

@media (min-width: 1400px) {
  .links {
    grid-template-columns: 1fr 1fr 1fr; } }

/* Lags on scroll, animate with Springs */
@keyframes AnimatedBG {
  0% {
    background-position: 0% 14%; }
  50% {
    background-position: 100% 87%; }
  100% {
    background-position: 0% 14%; } }
