.initialName {
    color: white;
    width: 100vw;
    font-size: 5rem !important;
    //top: 50%;
    //left: 50%;
    margin-left: 0;
    //transform: translate( -50%, -50%);
    //position: fixed;
}

#firstPassingImages {
    // position :fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.passingImages {
    max-width: 500px;
    max-height: 50%;
    //position:absolute;
}

#mainHeader .spacer {
    height: 10rem;
}

picture.fullWidth{
    width:100%;
    img{
        width:100%;
    }
}