.initialName {
  color: white;
  width: 100vw;
  font-size: 5rem !important;
  margin-left: 0; }

#firstPassingImages {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }

.passingImages {
  max-width: 500px;
  max-height: 50%; }

#disciplines {
  height: calc(100vh - 10rem);
  width: 100vw;
  font-size: 32px;
  background-image: linear-gradient(to right bottom, rgba(var(--color-primary-light), 0.8), rgba(var(--color-primary-dark), 0.8)), url(/assets/img/bg2.jpg);
  position: relative;
  /*&:hover{
        #iPhoto:not(:hover) {
            //height: 25%;
        }
        
        #iVideo:not(:hover) { 
            clip-path: polygon(0 0, 100% 50%, 100% 100%);       
        }
        
        #iCode:not(:hover) {  
            clip-path: polygon(100% 0, 0% 100%, 0% 50%);     
        }
    }*/ }
  #disciplines > div {
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    place-items: center;
    background-size: cover;
    color: white;
    cursor: pointer; }
    #disciplines > div#iPhoto {
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background-position: center;
      height: 33%;
      grid-template-columns: 100%;
      z-index: 2; }
      #disciplines > div#iPhoto:hover {
        height: 50%; }
    #disciplines > div#iVideo {
      clip-path: polygon(0 0, 100% 33%, 100% 100%, 50% 50%);
      background-position: center;
      width: 50%; }
      #disciplines > div#iVideo:hover {
        clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 100%); }
    #disciplines > div#iCode {
      clip-path: polygon(100% 0, 50% 50%, 0% 100%, 0% 33%);
      background-position: center;
      width: 50%;
      right: 0;
      left: unset; }
      #disciplines > div#iCode:hover {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0% 33%); }
    #disciplines > div::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s;
      background-image: linear-gradient(to right bottom, rgba(0, 200, 123, 0.3), rgba(223, 234, 94, 0.2)); }
    #disciplines > div:hover::after {
      opacity: 0; }
    #disciplines > div:hover {
      background-image: linear-gradient(to right bottom, #123, #abc); }

#mainHeader .spacer {
  height: 10rem; }
